__pycache__/
*.py[cod]
*.egg-info/
.venv/
build/
dist/
.pytest_cache/
.coverage
htmlcov/
.gta_path
sdk/imported_packages.json
output/
bin/
obj/
tools/RpfPatcher/*.dll
tools/RpfPatcher/*.exe
tools/RpfPatcher/*.pdb
tools/RpfPatcher/*.json
tools/RpfPatcher/ShadersGen9Conversion.xml
tools/RpfPatcher/SharpDX*.dll
tools/RpfPatcher/strings.txt
